/*-- Global Styles --*/
:root {
  font-size: 18px;
}
*{ /*selector that selects everyting*/
  box-sizing: border-box;
}
body, section, div, article, aside, h1, h2, h3, h4, h5, h6, p {
padding: 0;
margin: 0;
} /*resetting the dimesnsions of the whole page*/

/*-- Document Styles --*/
body {
  font-family: "Lato", sans-serif;
  height: 100%
  color: #111;
  line-height: 1.8;
  background-color: #ECE2D0;
}
footer{
  background-color: #ECECEC;
  color: #111;
  padding: 1em;
  text-align: center;
}
nav{
  display: flex;
  justify-content: flex-start;
  background-color: #ECECEC;
}
@media screen and (min-width: 768px) {
  nav {flex-direction: row;}
}
nav a{
  padding: 8px 16px;
  text-align: left;
  font-style: normal;
  text-decoration: none;
  font-size: 20px;
  color: #111;
}
.trigram{
  font-size: 1.75em;
  display: none;
}
@media screen and (max-width: 767px){
  .topnav a {display: none;}
  .topnav a.trigram {display: inherit; align-self: flex-end;}
}
@media screen and (max-width: 767px) {
  .topnav.responsive {align-items: center;}
  .topnav.responsive a {display: inherit;}
  .topnav.responsive a.trigram {visibility: hidden; position: absolute; right: 3%; top: 2%;}
  .topnav.responsive a.trigram::after {content:'\000D7'; visibility: visible; text-indent: -.5em;}
}
nav a:hover, nav a:active {
  color: #F0F8FF;
  text-decoration: none;
}
.thumb {
  background-position: center center;
  background-size: cover;
  padding-bottom: 56%; /*or padding: 56% (all around)*/
}
.grid-container{
  display: grid;
  grid-gap: 1em;
  grid-template-column: 1fr;
  padding: 1em;
}
@media screen and (min-width: 550px) { /*for media screens that are 550 and above, set two columns, 1fr each*/
.grid-container{grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 768px) { /*for media screens that are 768 and above, set three columns, 1fr each. ipad, iphone portrait*/
.grid-container{grid-template-columns: repeat(3, 1fr);}
}
@media screen and (min-width: 990px) { /*for media screens that are 990 and above, set four columns, 1fr each*/
.grid-container{grid-template-columns: repeat(4, 1fr);}
}
.card{
  border: 1px solid #333;
}
.card-content{
padding: 1em;
}
.one .thumb{
  background-image: url('../img/nyu.jpg');
}
.two .thumb{
  background-image: url('../img/deer.jpg');
}
.three .thumb{
  background-image: url('../img/zion2.jpg');
}
.four .thumb{
  background-image: url('../img/market.jpg');
}
.five .thumb{
  background-image: url('../img/horses.jpg');
}
.six .thumb{
  background-image: url('../img/ocean-city.jpg');
}
.seven .thumb{
  background-image: url('../img/philly.jpg');
}
.eight .thumb{
  background-image: url('../img/pier.jpg');
}
.nine .thumb{
  background-image: url('../img/river.jpg');
}
.ten .thumb{
  background-image: url('../img/san-diego.jpg');
}
.eleven .thumb{
  background-image: url('../img/sunset-cliff.jpg');
}
.twelve .thumb{
  background-image: url('../img/zion.jpg');
}
/*slideshow rules*/
.slideshow{
  background-color: #CCC;
  width: 100%; /*fills the container*/
}
