/*-- Global Styles --*/
:root {
  font-size: 18px;
}
*{ /*selector that selects everyting*/
  box-sizing: border-box;
}
body, section, div, article, aside, h1, h2, h3, h4, h5, h6, p {
padding: 0;
margin: 0;
} /*resetting the dimesnsions of the whole page*/

/*-- Document Styles --*/
footer{
  background-color: #B0C4DE;
  color: #111;
  padding: 1em;
  text-align: center;
}
nav{
  display: flex;
  justify-content: flex-start;
  background-color: #B0C4DE;
}
nav a{
  padding: 8px 16px;
  text-align: left;
  font-style: normal;
  text-decoration: none;
  font-size: 20px;
  color: #111;
}
nav a:hover, nav a:active {
  color: #F0F8FF;
  text-decoration: underline;
}
.slideshow{
  background-color: #CCC;
  width: 100%; /*fills the container*/
  height: 400px;
}
.thumb {
  background-position: center center;
  background-size: cover;
  padding-bottom: 56%; /*or padding: 56% (all around)*/
}
.grid-container{
  display: grid;
  grid-gap: 1em;
  grid-template-column: 1fr;
}
@media screen and (min-width: 550px) { /*for media screens that are 550 and above, set two columns, 1fr each*/
.grid-container{grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 768px) { /*for media screens that are 768 and above, set three columns, 1fr each. ipad, iphone portrait*/
.grid-container{grid-template-columns: repeat(3, 1fr);}
}
@media screen and (min-width: 990px) { /*for media screens that are 990 and above, set four columns, 1fr each*/
.grid-container{grid-template-columns: repeat(4, 1fr);}
}
.card{
  border: 1px solid #333;
}
.card-content{
padding: 1em;
}
.one .thumb{
  background-image: url('../img/deer.jpg');
}
